.small-pad 			{padding: 8px;}
.small-pad-left 	{padding-left: 8px;}
.small-pad-right 	{padding-right: 8px;}
.small-pad-top 		{padding-top: 8px;}
.small-pad-bottom 	{padding-bottom: 8px;}

.std-pad 			{padding: 15px;}
.std-pad-left 		{padding-left: 15px;}
.std-pad-right 		{padding-right: 15px;}
.std-pad-top 		{padding-top: 15px;}
.std-pad-bottom 	{padding-bottom: 15px;}

.large-pad 			{padding: 30px;}
.large-pad-left 	{padding-left: 30px;}
.large-pad-right 	{padding-right: 30px;}
.large-pad-top 		{padding-top: 30px;}
.large-pad-bottom 	{padding-bottom: 30px;}

.border				{border: 1px solid #ccc;}
.border-left		{border-left: 1px solid #ccc;}
.border-right		{border-right: 1px solid #ccc;}
.border-top			{border-top: 1px solid #ccc;}
.border-bottom		{border-bottom: 1px solid #ccc;}

